{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<section  class="container-fluid">

    <section class="firstSection">
        <div class="row_firstSection">
            <div class="leftSide_firstSection">
                <img class="path_home" src="{{ asset('build/images/path_home.svg') }}" alt="">
                <div class="serchDiv">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                <h1 class="titre">Le premier site de troc Français</h1>
                <h3 class="sousTitre">De particulier à particulier</h3>
                <a href="{{ path('new_annonce') }}"><button class="addAnnonce_button">Proposer un objet</button></a>
            </div>
            <div class=" greyCube">
            </div>

        </div>
    </section>
    <section class="secondSection">

        <h2 class="titreCategories">Catégories populaires</h2>

        <div class="row categories_list">
                {% for categorie in categories %}

                    <div style="background-image: url({{ asset('build/images/' ~ categorie.photo ) }});background-position: center;background-size: cover;" class="category">
                        <div class="category_overlay"></div>
                        <a class="category_name" href="{{ path('annonce', { 'type': 'categorie', 'data': categorie.id }) }}">{{ categorie.libelle }}</a>
                    </div>

                {% endfor %}
        </div>

    </section>
    <section class="thirdSection">

        <h2 class="titre_howItWorks">Comment ça marche ?</h2>

        <div class="row_thirdSection">

            <div class="leftSide_secondSection">

                <div class="cherchezBox">

                    <img class="loupe" src="{{ asset('build/images/loupe.svg') }}" />
                    <h6 class="titre_cherchezBox">Cherchez</h6>
                    <p class="texte_cherchezBox">Un objet, dans toute la France et parmi de nombreuses catégories</p>

                </div>

                <div class="recevezBox">

                    <img class="target" src="{{ asset('build/images/target.svg') }}" />
                    <h6 class="titre_recevezBox">Recevez</h6>
                    <p class="texte_recevezBox">Votre nouvel objet, rapidement et simplement, chez vous</p>

                </div>

            </div>

            <div class="middleSide_secondSection">
                <div class="trouvezBox">

                    <img class="present" src="{{ asset('build/images/present.svg') }}" />
                    <h6 class="titre_trouvezBox">Trouvez</h6>
                    <p class="texte_trouvezBox">Un troceur avec qui échanger votre objet !</p>

                </div>
            </div>

            <div class="rightSide_secondSection">

                <h4 class="sousTitre_howItWorks">Échange tes objets avec ceux de la communauté !</h4>
                <p class="texte_howItWorks">
                    Trouve l’objet de tes rêves et échange le avec celui d’autres troceurs.
                    Troc te met en relation avec des troceurs pas loin de chez toi, propose ton bien et échange le !
                </p>
            </div>

        </div>
    </section>

    <section class="reassurance">
            <img class="path_rea1" src="{{ asset('build/images/path_rea1.svg') }}" alt="">
            <img class="path_rea2" src="{{ asset('build/images/path_rea2.svg') }}" alt="">
            <img class="path_rea3" src="{{ asset('build/images/path_rea3.svg') }}" alt="">
            <div class="cards">
                <div class="card">
                    <img src="{{ asset('build/images/laugh.svg') }}" alt="">
                    <h4>Des clients</h4>
                    <p>satisfaits à 99%</p>
                </div>

                <div class="card">
                    <img src="{{ asset('build/images/truck.svg') }}" alt="">
                    <h4>Des livraisons</h4>
                    <p>partout en France !</p>
                </div>

                <div class="card">
                    <img src="{{ asset('build/images/certif.svg') }}" alt="">
                    <h4>La certification</h4>
                    <p>que tous les troceurs sont fiables</p>
                </div>
            </div>
        </section>

        <section class="newsletter">
            <h1>Retrouvez toute l'actualité de Troc !</h1>
            <h2>Abonnez-vous à notre newsletter</h2>
            <div class="input_news">
                    <input type="text">
                    <button type="submit">s'abonner</button>
            </div>
        </section>


    {#<a class="addAnnonce_button" href="{{ path('new_annonce') }}">Ajouter une annonce</a>
    <a class="btn btn-default" href="{{ path('account_annonces') }}">Mes annonces</a>
    <a class="btn btn-default" href="{{ path('chat', { 'id_receiver': app.user.id, 'id_annonce': 9}) }}">Messagerie</a>#}
</section>

{% endblock %}
