{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

        {% for annonce in annonces %}
            <br/> <a href="{{ path('show_annonce', { 'id': annonce.id }) }}">
                {{ annonce.id }}
                {{ annonce.libelle }}
                {{ annonce.photo }}
                {{ annonce.localisation }}
            </a><br/>
        {% endfor %}



{% endblock %}
