{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block javascripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfpkjVB4naLB6PdQf-pcL1QA7VTOc0b3A&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}

{% block body %}



    {{ form_start(form) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.description) }}
    {{ form_row(form.photo) }}
    <div id="locationField">
        {{ form_row(form.localisation, {'attr': {'onFocus': 'geolocate()' , 'placeholder': 'Indiquez votre Lieu'}}) }}
    </div>
    {{ form_row(form.categorie) }}
    {{  form_row(form.iduser) }}

    <input type="submit" class="btn btn-default" value="Create" />
    {{ form_end(form) }}


    {% block javascripts %}
        {{ encore_entry_script_tags('googleMaps') }}
    {% endblock %}




{% endblock %}
